<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/html.ejs') %>
<body>
    <%- include('./partials/header.ejs')%>
    <section class = "saveHub">
    <% list.forEach(person =>{ %>
        <div class = "savedInfo">
            <img class = "savedPfp" src = "/pfpComponents/pfp.png">
            <%=person%> 
        </div>
  <% }) %> 
    </section>
</body>
</html>
