<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/html.ejs') %>
<body>
    <%- include('./partials/header.ejs')%>
    <% list.forEach(person =>{ %>
        <div> <%=`${person.name} : ${person.location}`%> </div>
  <% }) %> 
</body>
</html>
